/* Root styles for the entire application. */
:root {
    /* main colors */
    --primary: #28a696;
    --tertiary: #5869fc;
    --alert: #e84f4f;
    /* button state colors */
    --primary-dark: #229082;
    --primary-darker: #1e8174;
    --primary-focus: rgb(40 166 150 / 50%);
    --tertiary-dark: #2c41fb;
    --tertiary-darker: #0f26fa;
    --tertiary-focus: rgb(88 105 252 / 50%);
    --alert-dark: #e32b2b;
    --alert-darker: #d61c1c;
    --alert-focus: rgb(227 43 43 / 50%);
    /* text on all filled buttons */
    --button-text: #ffffff;

    /* tag colors */
    --tag-0: #c6c4c4;
    --tag-1: #adffd9;
    --tag-2: #adfeff;
    --tag-3: #99e6ff;
    --tag-4: #88c9f2;
    --tag-5: #99aff2;
    --tag-6: #b3b3e6;
    --tag-7: #c195db;
    --tag-8: #da9ecf;
    --tag-9: #f2a7c3;
    --tag-10: #dc8f8d;
    --tag-11: #ff9a6f;
    --tag-12: #fcb55f;
    --tag-13: #f7ed78;
    --tag-14: #cbe364;
    --tag-15: #a9d69a;
    --tag-16: #006644;
    --tag-17: #006666;
    --tag-18: #006699;
    --tag-19: #0074de;
    --tag-20: #3864e5;
    --tag-21: #5056ce;
    --tag-22: #5d36b4;
    --tag-23: #a126a0;
    --tag-24: #d61c71;
    --tag-25: #ed0020;
    --tag-26: #ff621f;
    --tag-27: #fba841;
    --tag-28: #e7d50d;
    --tag-29: #979f34;
    --tag-30: #41742f;
    --tag-text: #212323;
    --tag-text-ondark: #ffffff;
    /* drop shadow */
    --drop-shadow: rgba(0, 0, 0, 0.15);

    /* color combinations on some components (e.g. Alert) */
    --foreground-secondary: #104581;
    --background-secondary: #b9d0e9;
    --foreground-alert: #771010;
    --background-alert: #f8caca;

    /* z-index layers */
    --segmented-button-focus-z: 1;
    --taggroup-overflow-z: 2;
    --sidebar-backdrop-z: 3;
    --sidebar-container-z: 4;
    --sidebar-z: 5;
    --modal-backdrop-z: 6;
    --modal-z: 7;
    --toast-z: 8;
}
.light-mode {
    /* button colors */
    --secondary: #1761b5;
    --secondary-dark: #14549d;
    --secondary-darker: #114b8d;
    --secondary-focus: rgb(23 97 181 / 50%);
    --secondary-hover: rgb(23 97 181 / 20%);
    /* light mode backgrounds */
    --background: #f0f0f0;
    --background1: #ffffff;
    --background2: #e9e9e9;
    --background2-dark: #cacaca;
    --background2-darker: #b5b5b5;
    --background2-focus: rgb(202 202 202 / 50%);
    --background3: #dfdfdf;
    /* modal backdrop */
    --modal-backdrop: rgb(0 0 0 / 10%);
    /* light mode text */
    --text1: #212323;
    --text2: #666768;
    --text3: #a7a8a9;
    --toast-text: #ffffff;
}
.dark-mode {
    /* button colors */
    --secondary: #4f96e8;
    --secondary-dark: #2b80e3;
    --secondary-darker: #1c72d6;
    --secondary-focus: rgb(79 150 232 / 50%);
    --secondary-hover: rgb(79 150 232 / 20%);
    /* dark mode backgrounds */
    --background: #212323;
    --background1: #2f3132;
    --background2: #3e4142;
    --background2-dark: #565a5b;
    --background2-darker: #666a6c;
    --background2-focus: rgb(86 90 91 / 50%);
    --background3: #383b3c;
    /* modal backdrop */
    --modal-backdrop: rgb(0 0 0 / 33%);
    /* dark mode text */
    --text1: #ffffff;
    --text2: #a7a8a9;
    --text3: #717373;
    --toast-text: #ffffff;
}

/* Site-wide styles */
.escr-body {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100vh;
}
.escr-body main:not(.escr-page) {
    max-height: 100vh;
    overflow: auto;
    width: 100%;
}
.escr-body.escr-vue-enabled {
    background-color: var(--background);
}

/* Typography */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/NotoSans-Italic.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/NotoSans-SemiBold.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/NotoSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSans-Bold.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/NotoSans-BoldItalic.ttf");
}
/* reset default fonts to 14px normal noto sans, weight 400 */
.escr-body.escr-vue-enabled,
.escr-page input[type="text"],
.escr-global-nav,
.v-popper__inner {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text1);
    font-style: normal;
}
#vue-global-nav {
    height: 100vh;
    min-width: 64px;
}
#vue-global-nav .escr-global-nav {
    height: 100vh;
}
.escr-page h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.escr-page h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.escr-page h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.escr-page h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

/* Horizontal rule */
.escr-page hr {
    border: none;
    border-top: 1px solid var(--text3);
}

/**
 * Improved screen reader only CSS class
 * @author Gaël Poupard
 */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* tooltip styling */
.v-popper--theme-escr-tooltip .v-popper__inner {
    background: var(--background1);
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
    border: none;
    max-width: 220px;
    font-size: 12px;
}
.v-popper--theme-escr-tooltip .v-popper__arrow-inner {
    border-color: var(--background1);
}
.v-popper--theme-escr-tooltip .v-popper__arrow-outer {
    border-color: var(--background2);
}

/* spinner (adapted from bootstrap) */
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
.escr-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 4px solid var(--background2);
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 1s linear infinite;
    animation: spinner-border 1s linear infinite;
}
.escr-spinner--inactive {
    border-right-color: var(--background2);
    -webkit-animation: none;
    animation: none;
}
.escr-spinner--secondary {
    border-color: var(--secondary);
    border-right-color: transparent;
}
.escr-spinner--secondary-inactive {
    border-color: var(--secondary);
    border-right-color: var(--secondary);
    -webkit-animation: none;
    animation: none;
}
.escr-spinner--danger {
    border-color: var(--alert);
    border-right-color: var(--alert);
    -webkit-animation: none;
    animation: none;
}
.escr-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}
